<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="first-section">
      <h1>가나다</h1>
      <time datetime="2021-08-17T15:45">2021년 8월 17일 15시 45분</time>
      <p>비가 오는 날이었다.</p>
    </div>
  </div>
</body>
</html>